<p style="color: green"><%= notice %></p>

<% content_for :title, "Chat sessions" %>

<h1>Chat sessions</h1>

<div id="chat_sessions">
  <% @chat_sessions.each do |chat_session| %>
    <%= render chat_session %>
    <p>
      <%= link_to "Show this chat session", chat_session %>
    </p>
  <% end %>
</div>

<%= link_to "New chat session", new_chat_session_path %>
