<div id="<%= dom_id attachment %>">
  <p>
    <strong>Chat session:</strong>
    <%= attachment.chat_session_id %>
  </p>

  <p>
    <strong>File url:</strong>
    <%= attachment.file_url %>
  </p>

</div>
