<div id="<%= dom_id chat_history %>">
  <p>
    <strong>Chat session:</strong>
    <%= chat_history.chat_session_id %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= chat_history.content %>
  </p>

  <p>
    <strong>Reply to:</strong>
    <%= chat_history.reply_to_id %>
  </p>

</div>
